/* BEGIN GLOBAL */
body {
  background: lightblue;

}

.navbar {
  background: white;
  position: sticky;
  width: 100%;
  z-index: 10;
  top: 0;
}

.navbar__div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1280px;
  padding: 1rem;
}

.navbar__anchor {
  display: flex;
  align-items: center;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.navbar__home {
  display: flex;
  align-items: center;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}

.navbar__home img {
  height: 2rem;
  cursor: pointer;
}

.navbar__anchor span {
  align-self: center;
  font-size: 3rem;
  font-weight: 600;
  white-space: nowrap;
}

.navbar__link-ctn {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}

.navbar__list {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  margin-top: 1rem;
  font-weight: 500;
}

.navbar__list li {
  list-style-type: none;
}

.navbar__list li :hover {
  color: purple;
}

.navbar__anchor {
  display: block;
  padding: 0.5rem;
  font-weight: 600;
  cursor: pointer;
  font-size: 2rem;
  text-decoration: none;
  color: black;
}

.navbar__btn {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
  background-color: #1d4ed8;
  color: white;
  border: none;
  cursor: pointer;
}

.country-section-active {
  display: block;
}

.country-section-inactive {
  display: none;
}

.hide-all-countries {
  display: none;
}

.hide-home {
  display: none;
}

.country-section-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  height: 100%;
  margin-top: 6rem;
  margin-bottom: 6rem;
}

/* END GLOBAL */

/* BEGIN ITALY */

.italy {
  font-size: 30rem;
  color: red;
}

/* END ITALY */

/* BEGIN SCOTLAND */
#scotland {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhpHvG0NDqwECpVQALDAVURNacDOt2Fq5q1C6MfKl2&s");
  background-color: #cccccc;
}

#scotlandTitle {
  color:chartreuse;
  font-size: 150px;
  font-weight: bold;
  font-style: italic;
}

#scotland, #scotlandCelebrity, #scotlandCity, #scotlandLandmark{
  left: 0;
  display: flex;
  flex-direction: column;
}
#celebrityTitle{
  color:rgb(228, 138, 20);
  font-size: 50px;
  text-align: center;
  border-style: dotted;
  border-color: aquamarine;
}
.celebrity__card{
  background-color:  rgb(246, 39, 122);
  border-radius: 2px;
  padding: 3px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}
.celebrity__name{
  color:rgb(251, 201, 0);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 75px;
}
.celebrity__details{
  color:rgb(241, 225, 197);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}
.celebrity__image{
  width: 10em; 
}
#cityTitle{
  color:rgba(155, 87, 227, 0.953);
  font-size: 50px;
  text-align: center;
  border-style: dotted;
  border-color: aquamarine;
}
.city__card{
  background-color:  rgb(41, 230, 12);
  border-radius: 2px;
  padding: 3px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}
.city__name{
  color:rgb(89, 91, 245);
  font-family: "Times New Roman", Times, serif;
  font-size: 100px;
}
.city__details{
  color:rgb(18, 0, 110);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}
.city__image{
  width: 10em;
}
#landmarkTitle{
  color:rgb(239, 111, 75);
  font-size: 50px;
  text-align: center;
  border-style: dotted;
  border-color: aquamarine;
}
.landmark__card{
  background-color:  rgb(245, 253, 3);
  border-radius: 2px;
  padding: 3px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}
.landmark__name{
  color:rgb(5, 156, 138);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 65px;
}
.landmark__details{
  color:rgb(38, 106, 91);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
}
.landmark__image{
  width: 10em;
}
#theEnd{
  color:rgb(45, 232, 3);
  font-size: 95px;
  text-align: center;
  border-style: dotted;
  border-color: aquamarine;
}

/* END SCOTLAND */

/* BEGIN CANADA */

/* END CANADA */

/* BEGIN EGYPT */

/* END EGYPT */
